pypdf
pdf2image
pytesseract
Pillow
pikepdf
langchain-text-splitters
transformers
faiss-cpu
sentence-transformers
tavily-python
beautifulsoup4
requests
python-dotenv
validators
notion-client==3.1.0
groq
fastapi
uvicorn
streamlit
PyMuPDF
unstructured[pdf]
unstructured-inference
docling
rank-bm25